@inject IAddUserUseCase addUserUseCase
@inject IConfiguration Config
@inject HttpClient Http
<MudGrid>
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
        <MudItem class="w-100 d-flex justify-content-center">
            <MudImage Width="700" Src="Images/girl-with-laptop-light.png" />
        </MudItem>
    </div>
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-12 p-6">
        <MudItem class="w-px-400 mx-auto mt-12 pt-5">
            <MudText Typo="Typo.h4" class="mb-1">Adventure starts here 🚀</MudText>
            <EditForm Model="Input" FormName="formUser" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem>
                        <MudCard>
                            <MudCardContent>
                                <MudGrid Spacing="8">
                                    <MudItem md="6">
                                        <MudTextField Variant="Variant.Outlined" For="@(() => Input.FirstName)"
                                                      @bind-Value="Input.FirstName"
                                                      Label="Firstname" Placeholder="John"
                                                      UserAttributes="@(new() { { "autocomplete", "true" }, { "aria-required", "true" } } )" />
                                        <MudTextField Variant="Variant.Outlined" For="@(() => Input.LastName)"
                                                      @bind-Value="Input.LastName"
                                                      Label="LastName" Placeholder="Doe"
                                                      UserAttributes="@(new() { { "autocomplete", "true" }, { "aria-required", "true" } } )" />
                                    </MudItem>
                                    <MudItem md="6">
                                        <MudTextField Variant="Variant.Outlined" For="@(() => Input.Email)" @bind-Value="Input.Email"
                                                      Label="Email" Placeholder="name@example.com"
                                                      UserAttributes="@(new() { { "autocomplete", "true" }, { "aria-required", "true" } } )" />
                                        <MudTextField Variant="Variant.Outlined" For="@(() => Input.Password)" @bind-Value="Input.Password"
                                                      Label="Password" InputType="InputType.Password" Placeholder="password"
                                                      UserAttributes="@(new() { { "autocomplete", "new-password" }, { "aria-required", "true" } } )" />

                                        <MudTextField Variant="Variant.Outlined" For="@(() => Input.ConfirmPassword)" @bind-Value="Input.ConfirmPassword"
                                                      Label="Confirm Password" InputType="InputType.Password" Placeholder="confirm password"
                                                      UserAttributes="@(new() { { "autocomplete", "new-password" }, { "aria-required", "true" } } )" />
                                    </MudItem>
                                </MudGrid>
                            </MudCardContent>
                            <MudCardActions>
                                <MudGrid Justify="Justify.FlexEnd">
                                    <MudItem>
                                        <MudButton ButtonType="ButtonType.Submit"
                                                   OnClick="Cancel" Variant="Variant.Filled"
                                                   Color="Color.Dark" Class="ml-auto">Cancel</MudButton>
                                    </MudItem>
                                    <MudItem>
                                        <MudButton ButtonType="ButtonType.Submit"
                                                   Variant="Variant.Filled"
                                                   Color="Color.Primary" Class="ml-auto">Add</MudButton>
                                    </MudItem>
                                </MudGrid>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </EditForm>
    </MudItem>
</div>
</MudGrid>

@code {
    [SupplyParameterFromForm]
    UserViewModel Input { get; set; } = new UserViewModel();
    List<Customer> companies = new List<Customer>();
    private string? serviceEndpoint;

    bool success;
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    private string CompanySelected { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();

    protected override async Task OnInitializedAsync()
    {
        serviceEndpoint = $"https://localhost:7079/api/User/Create";
        // companies = await addUserUseCase.GetCustomersAsync();
    }
    private async void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
        await Http.PostAsJsonAsync(serviceEndpoint, Input);
        // await addUserUseCase.ExecuteAsync(use);
        Submit();
    }
}
